// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img_wrap{
  border: 1px solid #ddd;
  width: 200px;
  height: 226px;
  margin: 20px auto 0;
  transition-duration: 0.5s;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
}
.img_wrap:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}
.title{
  font-size:30px;
  color:#E0861A;
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #E0861A;/*上線*/
  border-bottom: solid 3px #E0861A;/*下線*/
}
.login-title{
 text-align:center;
}
.login-detail {
}
#humberger {
  position: relative;
  height: 36px;
  width: 36px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #444;
  border-radius: 4px;
}
#humberger div {
  position: absolute;
  left: 4px;
  height: 4px;
  width: 24px;
  background-color: #444;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}
#humberger div:nth-of-type(1) {
  top: 4px;
}
#humberger div:nth-of-type(2) {
  top: 14px;
}
#humberger div:nth-of-type(3) {
  bottom: 4px;
}
.skippr {
  height: 600px !important;
}
.skippr .div {
  object-fit: contain !important;
  height : auto !important;
}
.genre-name {
  font-weight: 700;
  background-color:orange;
}
.genres-item {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  color: #000000;
}
.genres-item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.genres-item img {
  opacity: 1; /*画像の透明度*/
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.genre-image:after {/*画像を白くさせている。*/
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);/*画像を縮小している。*/
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.genres-item figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.genre-image h2,
.genre-image p {
  margin: 0;
  width: 100%;
  opacity: 0;
}
.genre-item h2 {
  padding: 0 30px;
  font-weight: 400;
  text-transform: uppercase;/*全ての文字を大文字にする*/
}
.genre-item p {
  padding: 0 50px;
  font-size: 0.8em;
  font-weight: 500;
}
.genre-item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.genre-image:hover img,
.genre-image.hover img {/*画像を灰色にしている*/
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.genre-image:hover figcaption h2,
.genre-image.hover figcaption h2,
.genre-image:hover figcaption p,
.genre-image.hover figcaption p {
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.genre-image:hover figcaption h2,
.genre-image.hover figcaption h2{
  opacity: 1;
}
.genre-image:hover figcaption h2,
.genre-image.hover figcaption h2 {
  opacity: 0.7;
}
.col-xs-12 {
   border-left: thick solid #E0861A;
   padding-left: 5px;
   border-right: thick solid #E0861A;
   padding-right: 5px;
}