<div class="container">
	<div class="row">
		<div class="top-message col-md-offset-1 col-md-10">
      <div>
          <h3>会員一覧</h3>

      </div>
			<table class="table">
    　　　　　　<thead>
        　　　　　<tr>
            　　　　<th>会員ID</th>
                    <th>氏名</th>
                    <th>メールアドレス</th>
                    <th>ステータス</th>
            　　　　<th colspan="3"></th>
                 </tr>
               </thead>
               <tbody>
                   <% @end_users.each do |end_users| %>

                <tr>
                  <td><%= end_users.id %></td>
                  <td><%= end_users.first_name %><%= end_users.last_name %></td>
                  <td><%= end_users.email %></td>
                  <td class="status"><% if end_users.deleted_at %><!-- deleted_atがある場合、if~elseまで -->
                      退会済み
                      <% else %>
                      有効
                      <% end %>
                  </td>
                </tr>
                <% end %>
               </tbody>
      </table>
    </div>
  </div>
</div>  