<div class="container">
  <div class="row">
   <div class="top-message col-md-offset-1 col-md-10">
   	<div class="anime_test">
   		<h2><strong><%= current_end_user.first_name %><%= current_end_user.last_name %>さんご注文ありがとうございました。</strong></h2>
   	</div>
   </div>
  </div>
</div>
