<div class="container">
<div class="row">
     <h3><strong>商品一覧（全件）</strong></h3>

     <% @genres.each do |genres| %>
     <% genres.items.each do |genre_items| %>
     <% genre_items.images.each do |images| %>
     <div style=" display: inline-block;">

           <div id="img_wrap">
            <%= link_to item_path(images.item) do %>
            <%= attachment_image_tag images,:profile_image, :fill,300,300, format:"jpg", fallback: "image1.jpg"%>
             <% end %>
           </div>
             
           
           	<div style="text-align: center;">
           	<strong><%= genre_items.name %></strong>
           </div>
           <div style="color: red; text-align: right; font-size: 20px;">
            <strong><%= images.item.notax_price%>円</strong>
           	</div>

     </div> 
            <% end %>
            <% end %>
            <% end %>

</div>
</div>